<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Bookers</title>
</head>
<body>
<h1>Books</h1>
<table>
<tr>
<th>Title</th>
<th>Body</th>
</tr>
<% @books.each do |book| %>
<tr>
	<td><%=book.title%></td>
	<td><%=book.body%></td>
	<td><%= link_to "Show",book_path(book.id),class: "show_#{book.id}" %></td>
	<td><%= link_to "Edit",edit_book_path(book.id),class: "edit_#{book.id}" %>
</td>
	<td><%= link_to "Destroy",book_path(book.id),method: :delete, "data-confirm" => "Are you sure?",class: "destroy_#{book.id}" %></td>
<span><% link_to book.title,book_path(book.id),class: "book_title" %></span>





</tr>
<% end %>
</table>
	<h2>New book</h2>
	<%= form_for(@book) do |f| %>

	<h6>Title</h6>
	<%= f.text_field :title,class: "book_title" %>

	<h6>Body</h6>
	<%= f.text_area :body,class: "book_body" %>
<div class="btn">
	<%= f.submit 'create book' %>
</div>
<% end %>
</body>
</html>
